<ion-header>
    <ion-toolbar color="primary">
        <ion-title>About</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="cancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card top-card>
        <ion-card-content top-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="3">Created by</ion-col>
                    <ion-col>
                        <p>simplybest apps</p>
                        <p><a (click)="browseTwitter()">@dolthead</a></p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">Credits</ion-col>
                    <ion-col>
                        Sounds from opengameart.org, created by: wobbleboxx.com, RPG, Kenney.nl, Bart Kelsey
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3"></ion-col>
                    <ion-col>
                        Open source tools: Ionic 5, Angular 9, Capacitor, Typescript, rxjs, Jasmine, Karma
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-button class="ion-float-right ion-margin-end" (click)="cancel()">Close</ion-button>
</ion-content>
