ion-content {
    background-color: lightskyblue;
}

ion-card {
    margin: 10px;
}

ion-card-content {
    padding: 6px;
}

ion-row, ion-col {
    white-space: nowrap;
}

ion-col ion-col,
ion-row ion-row {
    padding: 0;
}

.scoreboard ion-col {
    margin: auto 0;
}

.scoreboard ion-col + ion-col {
    margin-left: 20px;
}

ion-row + ion-row {
    margin-top: 6px;
}

.scoreboard ion-col ion-row:not(.disabled) {
    ion-col {
        min-height: 1.6em;
        height: 4vh;
        margin: auto 0;
    }
    ion-col:nth-child(1) {
        color: black;
    }
    ion-col:nth-child(2) {
        padding: 3px 8px;
        max-width: 40px;
        font-size: 1.1em;
        color: black;

        &.unscored {
            border-radius: 10px;
            background-color: lightblue;
        }
    }
}

.die {
    height: 12vw;
    width: 12vw;
    max-height: 64px;
    max-width: 64px;
    border-radius: 20%;
    color: #666;
    border: 1px #ddd solid;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    .pips {
        margin: auto 0;
        color: black;
        font-size: 1.7em;
    }
    &.locked {
        background-color: #eee;
    }
}

.disabled {
    color: #999;
}
