<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Topzee</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="scoreboard">
        <ion-card-content class="top-card">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-row *ngFor="let cat of gameService.game.categories.slice(0, 7)" [ngClass]="{'disabled': cat.name === 'Bonus'}"
                                tappable (click)="setSelectedCategory(cat.name)">
                            <ion-col>{{ cat.name }}</ion-col>
                            <ion-col text-end [ngClass]="{'unscored': cat.score === undefined || gameService.game.category === cat.name}">{{ cat.score }}</ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row *ngFor="let cat of gameService.game.categories.slice(7)"
                                 tappable (click)="setSelectedCategory(cat.name)">
                            <ion-col>{{ cat.name }}</ion-col>
                            <ion-col text-end [ngClass]="{'unscored': cat.score === undefined || gameService.game.category === cat.name}">{{ cat.score }}</ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                    <ion-col><span class="disabled">Subtotal</span></ion-col>
                    <ion-col text-end>{{ gameService.game.subtotalLeft }}</ion-col>
                    <ion-col><span class="disabled">Subtotal</span></ion-col>
                    <ion-col text-end>{{ gameService.game.subtotalRight }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col><span class="disabled">TOTAL</span></ion-col>
                    <ion-col text-end>{{ gameService.game.total }}</ion-col>
                    <ion-col></ion-col>
                    <ion-col text-end>
                        <ion-button size="small" [disabled]="!gameService.game.category || gameService.game.rollsLeft === 3"
                                    (click)="save()">Save</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-grid>
        <ion-row id="dice-row" margin-start margin-end padding-start padding-end>
            <ion-col *ngFor="let die of gameService.game.dice; index as i">
                <div class="die" tappable (click)="dieClick(i)" [ngClass]="{ 'locked': gameService.game.dice[i].locked }">
                    <span class="pips">{{ die.pips ? die.pips : '' }}</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row margin-start margin-end>
            <ion-col align-self-center>
                <span>Rolls left: {{ gameService.game.rollsLeft }}</span>
            </ion-col>
            <ion-col text-end>
                <ion-button size="small" [disabled]="!gameService.game.rollsLeft || !gameService.game.turnsLeft || !this.unlockedCount"
                            (click)="roll()">{{ rollLabel }}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--<ion-grid *ngIf="!gameService.game?.playing">-->
        <!--<ion-row margin-start margin-end>-->
            <!--<ion-col justify-content-center>-->
                <!--<ion-button expand="block" size="small" color="success" (click)="reset()">Play again</ion-button>-->
            <!--</ion-col>-->
        <!--</ion-row>-->
    <!--</ion-grid>-->

</ion-content>
