ion-row, ion-col {
    white-space: nowrap;
}
ion-col ion-col,
ion-row ion-row {
    padding: 0;
}
.die {
    height: 15vw;
    width: 15vw;
    border-radius: 20%;
    color: #666;
    border: 1px #ddd solid;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    .pips {
        font-size: 2em;
    }
}
.die.locked {
    background-color: #eee;
}
.disabled {
    color: #999;
}