ion-card {
    margin: 0 0 16px;
}

ion-button + ion-button {
    margin-top: 16px;
}

ion-card {
    --color: black;
}

ion-card-content {
    padding: 12px;
    font-size: 2.5vh;
}

[bold] {
    font-weight: bold;
}
