<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <!--<ion-icon src="/assets/svg/dice.svg" size="large"></ion-icon>-->
            <span>Topzee</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>Games played</ion-col>
                    <ion-col text-end>{{ lifetimeStats.completedGameCount }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Average Score</ion-col>
                    <ion-col text-end>{{ averageScore | number:'1.1' }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>High Score</ion-col>
                    <ion-col text-end>{{ lifetimeStats.highScore }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <!--<ion-toolbar>-->
        <!--<ion-buttons slot="start">-->
            <ion-button expand="block" *ngIf="!gameService.game?.playing" (click)="playGame()">
                <ion-icon slot="start" name="add" color="success"></ion-icon>
                Start Game
            </ion-button>
            <ion-button expand="block" *ngIf="gameService.game?.playing" (click)="playGame()">
                <ion-icon slot="start" name="pause" color="success"></ion-icon>
                Resume Game ({{ gameService.game?.turnsLeft }} turns left)
            </ion-button>
            <ion-button expand="block" *ngIf="gameService.game?.playing" (click)="restartGame()" color="danger" fill="outline">
                Restart Game
            </ion-button>
        <!--</ion-buttons>-->
        <!--<ion-buttons slot="end">-->
        <!--<ion-button color="secondary">-->
        <!--<ion-icon slot="icon-only" name="more"></ion-icon>-->
        <!--</ion-button>-->
        <!--</ion-buttons>-->
    <!--</ion-toolbar>-->


</ion-content>
