<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <span>Topzee</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card top-card>
        <ion-card-content top-content>
            <ion-img src="/assets/logo dice.png" style="height:100px;margin-bottom:10px" alt="topzee logo: two green dice"></ion-img>
            <ion-grid>
                <ion-row *ngIf="gameService.lifetimeStats.lastGame" bold>
                    <ion-col>Last game</ion-col>
                    <ion-col text-end>{{ gameService.lifetimeStats.lastGame }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Games played</ion-col>
                    <ion-col text-end>{{ gameService.lifetimeStats.completedGameCount }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Average</ion-col>
                    <ion-col text-end>{{ gameService.lifetimeStats.averageScore | number:'1.0-1' }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>High Score</ion-col>
                    <ion-col text-end>🏆 {{ gameService.lifetimeStats.highScore }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-button expand="block" *ngIf="!gameService.game?.playing" (click)="playGame()">
        <ion-icon slot="start" name="add" color="success"></ion-icon>
        Start Game
    </ion-button>
    <ion-button expand="block" *ngIf="gameService.game?.playing" (click)="playGame()">
        <ion-icon slot="start" name="pause" color="success"></ion-icon>
        Resume Game ({{ gameService.game?.turnsLeft }} turns left)
    </ion-button>
    <ion-button expand="block" *ngIf="gameService.game?.playing" (click)="restartGame()"
            color="light" fill="solid">
        Restart Game
    </ion-button>

</ion-content>
